/* navbar.css */

/* Same thing as style.css, design for mobile first and then add media queries for tablets and desktops */

#NavBar {
    width: 100%;
    min-height: 3em;

    display: flex;
    justify-content: left;

    color: #fff;
    background: var(--cl-char);
    z-index: 9;
}
#NavBar * {
    z-index: inherit;
}

#NavLogo {
    display: block;
    height: 3em;
    width: 3em;
    
    background-image: url(img/navbar_shield_yellow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

/* Hide/show menu button - only visible on mobile */
#MenuButton {
    display: block;
    height: 2em;
    width: 2em;

    font-size: 1.5em;
    line-height: 1.95em; /* Unicode hamburger menu symbol isn't quite centred */
    text-align: center;
    text-decoration: none;

    color: #fff;
}

/* On mobile, we'll have a nice grid layout on the menu. We can line the site icons along the top,
and list the other menu options below. */
#NavLinks {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: 3em repeat(auto-fit, 2.5em);
}

/* Navbar menu items */
#NavLinks a {
    height: 2.5em;
    padding: 0 .5em;

    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;

    color: #fff;
}

/* Double-span the text buttons */
#NavLinks a.text {
    grid-column-end: span 2;
}

#NavLinks a.icon {
    width: 4em;
    padding: 0;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

/* On mobile, the buttons will hide and show depending on whether .hidemenu or .showmenu
is applied to the #NavLinks element */
#NavLinks.hidemenu a {
    display: none;
}
#NavLinks.showmenu a {
    display: block;
}

/* Tablet and larger */
@media screen and (min-width: 600px) {
    /* Reset the NavBar positioning to the middle */
    #NavBar {
        height: 3em;
        justify-content: center;
    }

    /* Shield will stick out from the navbar */
    #NavLogo {
        height: 4.5em;
        width: 4.5em;
    }

    /* Enable Logo hover effects */
    #NavLogo:hover {
        background-image: url(img/navbar_shield_red.png);
    }
    #NavLogo::after {
        content: "";
        display: block;
        visibility: hidden;
        background-image: url(img/navbar_shield_red.png); /* For preloading purposes */
    }

    /* Everything gets shown at once - return to a horizontal flexbox */
    #NavLinks {
        display: flex;
        height: 3em;
        margin: 0;
    }

    /* Resize the links to fit the navbar, which is 3em tall */
    #NavLinks a {
        height: 3em;
        line-height: 3em;
    }

    #NavLinks a.icon {
        width: 3em;
    }

    #NavLinks a:hover {
        background-color: var(--cl-w10);
    }

    /* Override anything .hidemenu and .showmenu is doing */
    #NavLinks.hidemenu a,
    #NavLinks.showmenu a {
        display: block;
    }

    #MenuButton {
        display: none;
    }
}

#Reddit {
    background-image: url(img/reddit.svg);
}
#Discord {
    background-image: url(img/discord.svg);
}
#IRC {
    background-image: url(img/irc.svg);
}
#GitHub {
    background-image: url(img/github.svg);
}
