/* style.css */

/* Colour palette! */
:root {
    --cl-maroon: #392934;
    --cl-navy: #273246;
    --cl-red: #fd6748;
    --cl-yellow: #ffb856;
    --cl-pale: #ffedd4;
    --cl-slate: #4e5f8c;
    --cl-blue: #0a7fb9;
    --cl-char: #313131;
    --cl-grey: #616161;
    
    --cl-w5: rgba(255, 255, 255, .05);
    --cl-w10: rgba(255, 255, 255, .1);
    --cl-b5: rgba(0, 0, 0, .05);
    --cl-b10: rgba(0, 0, 0, .1);
    --cl-b20: rgba(0, 0, 0, .2);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-char);

    display: flex;
    flex-direction: column;
}
/* Design for mobile first, then use media queries to scale for laptops and desktops.
This ensures that the site is best optimised for mobile devices, which are often slower. */
@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

a {
    color: var(--cl-blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0em;
    border-bottom: 2px solid var(--cl-b10);
}

p {
    margin: 1em 0;
}

pre, code {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

/* Code block?? */
.highlighter-rouge {
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
    overflow-x: auto;
    font-size: .9em;
    border: 1px solid var(--cl-b20);
}

@media screen and (min-width: 768px) {
    h2 {
        margin-top: 1.5em;
        margin-bottom: 0em;
        border-bottom: 2px solid var(--cl-b10);
    }
}

#HomeLayout {
    width: 60em;
    max-width: 100%;
}

#Layout {
    display: grid;
    box-sizing: border-box;
    max-width: 100vw;
    grid-template-columns: 6em auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image sidebar"
        "content content";
    grid-row-gap: .5em;
}

#Layout > *,
#HomeLayout > * {
    box-sizing: border-box;
    background-color: #fff;
}

#SidebarImage {
    grid-area: image;
    width: 100%;
}

/* Tablets and larger */
@media screen and (min-width: 768px) {
    body {
        background: #ddd;
    }

    #HomeLayout {
        margin: 1em auto;
    }

    #Layout {
        padding: 0 1em;
        grid-template-columns: 11em minmax(0, 1fr); /* The minmax(0, 1fr) prevents a grid blowout, where the content expands the column to overflow the viewport */
        grid-template-rows: 11em auto;
        grid-template-areas:
        "image content"
        "sidebar content";
        margin: 2em auto;
        grid-column-gap: .5em;
    }

    #Layout > * ,
    #HomeLayout > * {
        border: 1px solid var(--cl-b20);
    }
    
    #SidebarImage {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

/* Desktop and larger */
@media screen and (min-width: 1024px) {
    #Layout {
        grid-template-columns: 15em minmax(0, 1fr);
        grid-template-rows: 15em auto;
        grid-column-gap: 1em;
    }
}

#Sidebar {
    grid-area: sidebar;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#SidebarButton {
    padding: .4em .6em;
    font-size: 1.2em;
}

#Sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Sidebar .firstlevel,
#Sidebar .subcatHeader,
#Sidebar .secondlevel {
    padding: .3em;
    display: block;
}

#Sidebar .subcatHeader {
    margin-top: .2em;
    font-size: .8em;
    font-weight: bold;
    border-bottom: 1px solid var(--cl-b10);
}

#Sidebar a {
    color: var(--cl-char);
    text-decoration: none;
    font-size: .9em;
}

#Sidebar a.current {
    color: #fff;
    background-color: var(--cl-grey);
}

#Sidebar a:hover {
    color: #fff;
    background-color: var(--cl-red);
}

/* Hide and show the list depending on the classes given in the script */
#Sidebar ul.hidemenu {
    display: none;
}
#Sidebar ul.showmenu {
    display: block;
}

/* Tablets and larger, the sidebar will be persistently visible, so no hiding is needed */
@media screen and (min-width: 768px) {
    /* We don't need the button anymore */
    #SidebarButton {
        display: none;
    }

    /* Remove the show/hide functionality of the button */
    #Sidebar ul.showmenu,
    #Sidebar ul.hidemenu {
        display: block;
    }

    #Sidebar .firstlevel,
    #Sidebar .subcatHeader,
    #Sidebar .secondlevel {
        padding: .3em .5em;
    }

    #Sidebar .subcatHeader {
        margin-top: .4em;
        font-size: 1em;
        border-bottom: 1px solid var(--cl-b10);
    }    
}

/* On tablets and larger, the entire page is just a single column layout */
/* max-width: 100vw will limit the page content from spilling out from the viewport and causing x-scrolling */
#Content {
    grid-area: content;
    max-width: 100vw;
    padding: 1.5em;
}

/* On larger screens, however, we don't really want the content div to span all available space */
@media screen and (min-width: 768px) {
    #Content {
        width: 100%;
        max-width: 60em;
    }
}

code.highlighter-rouge { /* Inline code */
    display: inline;
    border: none;
    padding: 0;
    background-color: var(--cl-b5);
    font-size: 1em;
}

/* Notices: Tips, warnings, notes */
p.notice {
    border: 1px solid var(--cl-b20);
    padding: .4em .6em;
    background: var(--cl-b5);
}
p.notice .tagline {
    font-weight: bold;
}
p.notice.important {
    color: #774500;
    border-color: rgba(255, 184, 86, .5);
    background: rgba(255, 184, 86, .2);
}
p.notice.tip {
    color: #005b88;
    border-color: rgba(10, 127, 185, .5);
    background: rgba(10, 127, 185, .2);
}
p.notice.warning {
    color: #8f1800;
    border-color: rgba(255, 42, 0, .5);
    background: rgba(255, 42, 0, .2);
}

/* Image with caption */
.imageframe {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid var(--cl-b20);

    font-style: italic;
    font-size: .9em;
}
.imageframe img {
    width: 100%;
}

/* Tables */
table {
    border-collapse: collapse;
    border: 1px solid var(--cl-b20);
}

th {
    background: var(--cl-b10);
}

td {
    padding: .5em;
    border-bottom: 1px solid var(--cl-b20);
}

/* Contributors/developers credit boxes */
div.team {
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
    
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: 1.5em 1.5em;
    grid-template-areas:
    "image tagline"
    "image links";
    grid-column-gap: 1em;
    border-bottom-width: 0;
    background: var(--cl-b5);
}

div.team:last-of-type {
    margin-bottom: .5em;
}

div.team .profileImg {
    grid-area: image;
    height: 100%;
    width: 100%;
}

div.team .tagline { /* Contains contributor's name and role */
    grid-area: tagline;
    font-size: 1em;
}

div.team span {
    font-weight: bold;
}

div.team .links {
    grid-area: links;
    display: flex;
    flex-direction: row;
}

div.team .links .link {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    
    margin-right: 1em;
    padding: .5em;

    font-size: .8em;
    text-decoration: none;

    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: .2em;
}

div.team .links .link:hover, 
div.team.developer .links .link:hover {
    background: var(--cl-red);
}

div.team .links .link img {
    display: block;
    height: 1.2em;
}

div.team .links .link span {
    margin-left: .4em;
}
div.team .links .link:not(.discord) span {
    display: none;
}

@media screen and (min-width: 768px) {
    /* Developer team member distinguisher */
    div.team.developer {
        grid-template-columns: 4em auto;
        grid-template-rows: 2.5em 1.5em;
    }

    div.team.developer .tagline {
        font-size: 1.8em;
    }

    div.team.developer .links .link {
        background: var(--cl-grey);
    }

    div.team .links .link:not(.discord) span {
        display: initial;
    }
}
