<!-- default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8    ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} - Worldbuilding</title>

    {% include headlink.html %}
</head>

<body>
    {% include navbar.html %}
    <div id="Layout">
        {% comment %}<!-- Pick a good sidebar image! Iterates through the following: 
            1. A file named image.jpg in the main directory 
            2. Kaztron portrait 
            3. A JPG named after the page's category 
            4. Placeholder image -->
        {% if image.jpg != null %}
        <img id="SidebarImage" src="image.jpg">
        {% elsif page.category contains "Kaztron" %}
        <img id="SidebarImage" src="{{ site.baseurl }}/img/Kaztron.jpg">
        {% elsif category_image == true %}
        <img id="SidebarImage" src="{{ site.baseurl }}/img/{{ page.category }}.jpg">
        {% else %}
        <img id="SidebarImage" src="{{ site.baseurl }}/img/placeholder_shield.jpg">
        {% endif %}
        {% endcomment %}

        {% if page.category contains "Kaztron" %}
        <img id="SidebarImage" src="{{ site.baseurl }}/img/Kaztron.jpg">
        {% elsif category_image == true %}
        
        <div id="Sidebar">
            {% include sidebar.html %}
        </div>
        <div id="Content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
</body>
</html>
